@model IEnumerable<PersonApp.Models.Person>

@{
    ViewData["Title"] = "Person List";
}

<h1>Person List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Mobile</td>
                <td>@item.Address</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>